<h1>Resources near <%=@search_location%></h1>

<h1>Here are your suggestions based on <%=@search_resource%></h1>
<pre>
<%#=JSON.pretty_generate(@results)%>
<%#=JSON.pretty_generate(@parsed_data)%>
</pre>

<table> 
<thead>
  <tr>
    <th>Name</th> 
    <th>Rating</th>
    <!--<th>Open Now</th>-->
  </tr>
</thead>
<tbody>

<%@results.each do |result|%>
<tr>
<td><%=result.fetch("name")%></td>
<td><% if result.fetch("rating") == 0%>
<%="We couldn't find any reviews"%>
<%else%>
<%=result.fetch("rating")%>
<%end%>
</td>

<% end %>
</tbody>
</table>

<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/search?key=<%=ENV.fetch("GOOGLE_API_KEY")%>
    &q=<%=@search_resource%>+<%=@search_resource%>,<%=@search_location%>">
</iframe>
