<link rel="stylesheet" href="/results.css">
<script src="https://kit.fontawesome.com/ab9c75fe83.js" crossorigin="anonymous"></script>

  <h1 id="location-header">Resources near <%=@search_location%></h1>

  <h1>Here are your suggestions based on <%=@search_resource%></h1>
  <div class="back-btn">New Search 
  <a href="/#hri"><i class="fa-solid fa-rotate-left"></i></a>
  </div>
<!--<div class="resource-btn"><a href="/:search">Search for additional resources</a></div>-->
  <pre>
  <%#=JSON.pretty_generate(@results)%>
  <%#=JSON.pretty_generate(@parsed_data)%>
  </pre>

  <table> 
  <thead>
    <tr>
      <th>Name</th> 
      <th>Rating</th>
      <!--<th>Open Now</th>-->
    </tr>
  </thead>
  <tbody>

  <%@results.each do |result|%>
  <tr>
  <td><%=result.fetch("name")%></td>
  <td id="td-rating"><% if result.fetch("rating") == 0%>
  <%="We couldn't find any reviews"%>
  <%else%>
  <%=result.fetch("rating")%>
  <%end%>
  </td>
  <% end %>
  </tbody>
  </table>
</div>

  <div class="map-container">
    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/search?key=<%=ENV.fetch("GOOGLE_API_KEY")%>
    &q=<%=@search_resource%>+<%=@search_resource%>,<%=@search_location%>">
    </iframe>
  </div>
</div>

<!--<div><footer></footer></div>-->
